/* Estilo para la imagen */
.grayscale60 {
  filter: grayscale(70%) !important; /* Aplicar escala de grises al 100% */
}

.drone {
  /* transform: ; Centrar la imagen */
  animation: moveDrone 5s linear infinite; /* Animación del movimiento */
}

/* Definición de la animación */
@keyframes moveDrone {
  0%,
  100% {
    transform: translate(0%, 0%); /* Posición inicial y final */
  }
  50% {
    transform: translate(0%, 7%); /* Subir */
  }
}

/* Estilo para el contenedor de la imagen */
.image-container {
  position: relative !important;
  display: inline-block !important;
}

/* Estilo para la imagen */
.image-container img {
  display: block !important;
  width: 100% !important;
  height: auto !important;
}

.overlay {
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    transparent
  ) !important; /* Gradiente en la parte superior */
  color: white !important; /* Color del texto */
  padding: 10px !important;
  text-align: center !important;
}

/* Estilo para el título */
.overlay h2 {
  margin-top: 0 !important;
  text-align: right; /* Justificar a la derecha */
  color: white !important; /* Color del texto */
}

/* Estilo para la descripción */
.overlay p {
  margin-bottom: 0 !important;
  text-align: right; /* Justificar a la derecha */
  color: white !important; /* Color del texto */
}

.grayscale60 {
  filter: grayscale(70%) !important; /* Aplicar escala de grises al 100% */
}

/* Cuando el cursor esté sobre la imagen */
.grayscale60:hover {
  filter: grayscale(0%) !important; /* Remover el efecto de escala de grises */
}

.grayscale80 {
  filter: grayscale(80%) !important; /* Aplicar escala de grises al 100% */
}

/* Cuando el cursor esté sobre la imagen */
.grayscale80:hover {
  filter: grayscale(0%) !important; /* Remover el efecto de escala de grises */
}

.logo-container {
  width: 200px; /* El tamaño deseado del contenedor */
  height: 200px; /* El tamaño deseado del contenedor */
  overflow: hidden; /* Oculta el contenido que se desborda */
}

.logo-container img {
  width: 100%; /* La imagen se ajusta al ancho del contenedor */
  height: 100%; /* La imagen se ajusta al alto del contenedor */
  object-fit: cover; /* La imagen se recorta para cubrir el contenedor */
}


.blurred-background {
  /* position: relative; */
  /* color: white;  //Color del texto  */
  padding: 3px;
}

.blurred-background::before {
  content: '' !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important; 
  background-color: rgba(255, 255, 255, 0.185) !important; /* Color blanco con transparencia */
  backdrop-filter: blur(10px) !important; /* Efecto de desenfoque */
  z-index: -1 !important; /* Asegura que el fondo desenfocado esté detrás del texto */
}